.list-group{
  text-align: left;
  list-style-type:none;
  padding: 30px;
  margin: 5px;
  border: 2px solid #5F9EA0;
  width: 40%;
  display: inline-block;
  color: azure;
  background: #5F9EA0;
}

.list-group-items{
  text-align: left;
}

.list-group span {
  text-align: center;
}